@import "src/app/scss/variables";

$avatar_width: 200;
$avatar_height: 200;
$avatar_left: 30;
$avatar_bottom: 15;

$display_height: 900;
$display_width: $display_height / $s16_9;
$display_top: 0;
$display_right: 0;

$chat_height: 835;
$chat_width: 285;
$chat_top: 15;
$chat_left: 15;

$taskbar_height: $avatar_height - 30;
$taskbar_width: $width - 30;
$taskbar_left: 15;
$taskbar_bottom: 30;

$alert_height: 84;
$alert_width: 400;
$alert_bottom: 57;
$alert_left: 870;

$contest_height: $taskbar_height;
$contest_width: $taskbar_width;
$contest_left: $taskbar_left;
$contest_bottom: $taskbar_bottom;

$levelup_height: 170;
$levelup_width: 18;
$levelup_bottom: 30;
$levelup_left: 15;