@import "src/app/scss/variables";
@import "src/app/scss/mixins";
@import "src/app/scenes/overlay/variables";

#overlay {
  background-color: $black;
  height: $height + px;
  width: $width + px;
  position: relative;
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  overflow: hidden;

  .block-display {
    position: absolute;
    background-color: $magenta;
    height: $display_height+px;
    width: $display_width+px;
    right: $display_right+px;
    top: $display_top+px;
  }

  .block-chatbox {
    @extend .window;
    position: absolute;
    height: $chat_height + px;
    width: $chat_width + px;
    top: $chat_top + px;
    left: $chat_left + px;
  }

  .block-avatar {
    @extend .window;
    position: absolute;
    height: $avatar_height + px;
    width: $avatar_width + px;
    bottom: $avatar_bottom + px;
    left: $avatar_left + px;

    .avatar {
      &.webcam {
        background-color: magenta;

        & > div {
          display: none;
        }
      }

      .layer {
        background-position: center 640px;
        background-size: 550%;
      }
    }
  }

  .block-taskbar {
    @extend .window;
    position: absolute;
    height: $taskbar_height + px;
    width: $taskbar_width + px;
    bottom: $taskbar_bottom + px;
    left: $taskbar_left + px;
    border-left: 0;

    .fa-twitter {
      color: #1da1f2;
    }

    .fa-youtube {
      color: #e52d27;
    }

    .fa-discord {
      color: #7289da;
    }

    .fa-store {
      color: #F98215;
    }
  }

  .block-contest {
    @extend .window;
    position: absolute;
    height: $contest_height + px;
    width: $contest_width + px;
    bottom: $contest_bottom + px;
    left: $contest_left + px;
    border-left: 0;
    padding: 0;
  }

  .block-giveaway {
    @extend .window;
    position: absolute;
    height: $giveaway_height + px;
    width: $giveaway_width + px;
    bottom: $giveaway_bottom + px;
    left: $giveaway_left + px;
    border-left: 0;
    padding: 0;
  }

  .block-alert {
    position: absolute;
    padding: 0;
    margin: 0;
    height: $alert_height + px;
    width: $alert_width + px;
    bottom: $alert_bottom + px;
    left: $alert_left + px;

    b {
      color: $yellow;
    }
  }

  .block-levelup {
    position: absolute;
    width: $levelup_width + px;
    bottom: $levelup_bottom + px;
    left: $levelup_left + px;
    height: $levelup_height+ px;
  }

  .block-ad {
    position: absolute;
    height: $ad_height + px;
    width: $ad_width + px;
    bottom: $ad_bottom + px;
    left: $ad_left + px;
  }

  .block-emoji {
    position: absolute;
    width: $width + px;
    height: $height+ px;
    top: 0;
    left: 0;
  }
}

