@import "src/app/scss/variables";
@import "src/app/scss/mixins";
@import "src/app/scenes/overlay/variables";

#overlay {
  .display {
    background-color: $magenta;
    height: $display_height+px;
    width: $display_width+px;
    position: absolute;
    right: 0;
  }

  .chatbox {
    @extend .window;
    position: absolute;
    height: $height - $avatar_height - 9 + px;
    width: $avatar_width + px;
    margin: 3px;
    border: 0;
  }

  .avatar {
    @extend .window;
    background-color: $purple;
    position: absolute;
    height: $avatar_height + px;
    width: $avatar_width + px;
    top: $height - $avatar_height - 6 + px;
    margin: 3px;

    &.webcam {
      background-color: magenta;
      & > div {
        display: none;
      }
    }

    > * {
      height: $avatar_height + px;
      width: $avatar_width + px;
    }

    .layer {
      background-position: center 940px;
    }
  }

  .taskbar {
    @extend .window;
    position: absolute;
    height: $taskbar_height + px;
    width: $taskbar_width + px;
    bottom: 0;
    right: 0;
    margin: 3px;
    border-left: 0;

    .fa-twitter {
      color: #1da1f2;
    }
    .fa-youtube {
      color: #e52d27;
    }
    .fa-discord {
      color: #7289da;
    }
    .fa-store {
      color: #F98215;
    }
  }

  .contest {
    @extend .window;
    position: absolute;
    height: $height - $display_height -3 + px;
    width: $contest_width + px;
    bottom: 0;
    right: 0;
    margin: 3px;
    padding-right: 0;
    border: 0;

    .stats {
      @extend .window;
      position: absolute;
      height: $height - $display_height - 60 + px;
      width: 500px;
      bottom: 0;
      left: 0;
      margin: 3px;
      border: 0;
      text-align: left;
      font-size: 12px;
    }
  }
}

