@import "src/app/scss/variables";
@import "src/app/scss/mixins";

.taskbar {
  .social, .live {
    overflow: hidden;
    svg {
      font-size: 16px;
    }
  }

  .social {
    float: left;
    text-align: center;
    width: 1240px;
  }
  .date {
    float: right;
    width: 200px;
    text-align: right;
  }
  .live {
    float: left;
    width: 200px;
    text-align: left;

    svg {
      color: $yellow;
    }
  }
}