$width: 1920;
$height: 1080;

$gray: #9f9f9f;
$white: #eeeeee;
$yellow: #ffff64;
$orange: #f28c4e;
$red: #ff0000;
$brown: #331619;
$purple: #2a1e2a;
$dark-blue: #222a3a;
$blue: #455772;
$black: #1c1d1f;
$green: #00ff00;
$magenta: #ff00ff;

$s16_9: 9 / 16;




