@import "variables";
@import "node_modules/bootstrap/scss/bootstrap-reboot";

#root {
  background-color: $dark-blue;
  height: $height + px;
  width: $width + px;
  position: relative;
  font-family: 'Hello World';
}