@import "src/app/scss/variables";
@import "src/app/scss/mixins";

.contest {
  text-align: center;

  .progress {
    @extend .window;
    margin-bottom: 10px;

    .bar {
      background-color: $orange;
      height: 6px;
    }
  }

  .question {
    font-size: 24px;
  }
  .options {
    .winner {
      color: $green;
    }
  }
}