@import "src/app/scss/variables";
@import "src/app/scss/mixins";
@import "src/app/scenes/ending/variables";

#ending {
  background-color: $dark-blue;
  height: $height + px;
  width: $width + px;
  position: relative;
  font-family: 'Ubuntu Mono';
  font-size: 16px;
  overflow: hidden;

  .thank-you {
    @extend .window;
    position: absolute;
    font-size: 52px;
    width: $width + px;
    top: $thank_you_top+ px;
    text-align: center;
    border: 0;
  }

  .block-credit {
    font-size: 26px;

    h3 {
      color: $gray;
      font-size: 32px;
    }

    .credit > div {
      @extend .window;
      border: 0;
      position: absolute;
      top: $thank_you_top + 100 + px;
      overflow: hidden;
      height: $part_height + px;
      width: $part_width + px;
      text-align: center;
    }

    .follower {
      left: 0;
    }

    .subscriber {
      left: $part_width + px;
    }

    .cheers {
      left: $part_width * 2 + px;
    }
  }


}

