@import "src/app/scss/variables";
@import "src/app/scss/mixins";

.avatar {
  background-color: $purple;
  position: relative;
  height: 100%;
  width: 100%;

  .layer {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;

    &.body {
      z-index: 0;
    }

    &.body-shoes {
      z-index: 10;
    }

    &.body-pants {
      z-index: 20;
    }

    &.body-top {
      z-index: 30;
    }

    &.head-skin {
      z-index: 80;
    }

    &.head-hair {
      z-index: 90;
    }

    &.head-hat {
      z-index: 100;
    }

    &.accessories {
      z-index: 110;
    }

    &.right-hand {
      z-index: 90;
    }

    &.left-hand {
      z-index: 90;
    }

    &.top {
      z-index: 120;
    }
  }
}