@import "src/app/scss/variables";
@import "src/app/scss/mixins";

.levelup {
  height: 100%;

  .progress {
    @extend .window;
    display: flex;
    border-radius: 0;
    height: 100%;



    .bar {
      width: 100%;
      height: 0;
      align-self: flex-end;
      background-color: $yellow;
    }
  }

  &.shining {
    box-shadow: 0 0 10px $yellow;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: kf-shining;
  }

  @keyframes kf-shining {
    0% {
      box-shadow: 0 0 1px $yellow;
    }
    50% {
      box-shadow: 0 0 10px $yellow;
    }
    100% {
      box-shadow: 0 0 1px $yellow;
    }
  }

}